body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
}

input, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
